OptimaControl/.idea/
OptimaControl/dist/
OptimaControl/__pycache__/
OptimaControl/build/
OptimaController_v0.7/__pycache__/
OptimaController_v0.7/.idea/
*.xml
*.spec
*.exe
*.zip
*.pyc
*.cpython-36.pyc
# OptimaController_v0.7/__pycache__/gamepad.cpython-36.pyc
# OptimaController_v0.7/__pycache__/gamepad_class.cpython-36.pyc
# OptimaController_v0.7/__pycache__/main.cpython-36.pyc
OptimaController_v0.7/build/
OptimaController_v0.7/dist/
*/build/
